[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lyudmil-Bozhkov
[access "refs/for/refs/*"]
	read = group user/Lyudmil-Bozhkov
	push = group user/Lyudmil-Bozhkov
	label-Code-Review = -2..+2 group user/Lyudmil-Bozhkov
	label-Verified = -1..+1 group user/Lyudmil-Bozhkov
	rebase = group user/Lyudmil-Bozhkov
	removeReviewer = group user/Lyudmil-Bozhkov
	submit = group user/Lyudmil-Bozhkov
[access "refs/heads/*"]
	read = group user/Lyudmil-Bozhkov
	create = group user/Lyudmil-Bozhkov
	push = +force group user/Lyudmil-Bozhkov
	pushMerge = group user/Lyudmil-Bozhkov
[access "refs/tags/*"]
	push = group user/Lyudmil-Bozhkov
	push = +force group user/Lyudmil-Bozhkov
